/* src/theme/index.scss */
:root {
  --color-bg: #f9fafb;               /* 整体背景 */
  --color-surface: #ffffff;          /* 卡片、容器 */
  --color-panel: #ffffff;            /* 侧栏、头部 */
  --color-text: #252525;             /* 主文字 */
}

html.dark {
  --color-bg: #1f2430;
  --color-surface: #222937;
  --color-panel: #1c2027;
  --color-text: #e3e6eb;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  transition: background .3s, color .3s;
}

/* 应用到 ElementPlus 基础布局 */
.el-aside {
  background: var(--color-panel) !important;
}
.el-header {
  background: var(--color-panel) !important;
}
.el-main,
.el-container,
.el-card {
  background: var(--color-surface) !important;
}
